body{
    margin:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}
.container{
    margin:auto;
    max-width: 900px;
    background-color: cadetblue;
    padding:60px 60px 20px;
    min-height: calc( 100vh - 128px);
}
.container h1{
    font-weight: 600;
    color: antiquewhite;
    font-size: 30px;        
}
.grid-container {
    display: grid;
    grid-template-columns:20px auto auto;
    grid-gap:70px;
    padding: 10px;
}
.input {
    background: white;
    border: 2px solid rgb(114, 114, 114);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    height:12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;            
}
.input.error{
    border: 3px solid crimson;
}
.input.success{
    border: 3px solid #49d949
}
.input.submitted {
    border: 3px solid darkblue;
    cursor: not-allowed;
}
#sticky_button{
    position: sticky;
    bottom: 0;
    width: 100%;
    background: cadetblue;
    text-align: center;
    padding: 30px;
    box-sizing: border-box;        
}
.button{
    height: 40px;
    width: 160px;
    border: 3px solid black;
    background: seashell;
    font-weight: 600;
    cursor: pointer;            
}
.index{
    color: whitesmoke;
    padding-top: 13px;
    font-weight: 600;
    font-size: 20px;
    vertical-align: bottom;
    width: 20px;
}
[data-tip] {
    position:relative;

}
[data-tip]:before {
    content:'';
    display:none;
    content:'';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid chocolate;	
    position:absolute;
    top:40px;
    left:45px;
    z-index:8;
    font-size:0;
    line-height:0;
    width:0;
    height:0;
}
[data-tip]:after {
    display:none;
    content:attr(data-tip);
    position:absolute;
    top:45px;
    left:0px;
    padding:5px 8px;
    background:chocolate;
    color:#fff;
    z-index:9;
    font-size: 0.75em;
    height:18px;
    line-height:18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space:nowrap;
    word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
    display:block;
}        
#error_page{
    font-weight: 600;
    font-size:18px;
    display:none;
    padding-top:60px;
}
.im-visible{
    display:block !important;
}
.im-not-visible{
    display:none !important;
}
.input-container span {
    background: seashell;
    width:330px;
    display: block;
    padding: 15px;
}
.head-title{
    text-align:center;
    width:330px;
}
#search_input{
    width: 370px;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
    border: 3px solid black;
}
#search_button{
    display: block;
    margin-top: 10px;
    padding: 20px 50px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 5px;
    background: papayawhip;
    color: darkslategray;
}
h2{
    margin: 70px;
    color: antiquewhite;
}
